pre {
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 10px;
    font-size: 16px;
    color: #b5e853;
    border-radius: 2px;
    word-wrap: normal;
    overflow: auto;
    overflow-y: hidden;
}

code {
    background: rgba(0,0,0,0.9);
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 0px 3px;
    margin: 0px -3px;
    color: #aa759f;
    border-radius: 2px;
}

table {
    width: 100%;
    margin: 0 0 20px 0;
}

th {
    text-align: left;
    border-bottom: 1px dashed;
    padding: 5px 10px;
}

td {
    padding: 5px 10px;
}

img{
    max-width: 100%;
}

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
    color: #d0d0d0;
}
.highlight .err {
    color: #151515;
    background-color: #ac4142;
}
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
    color: #888;
}
.highlight .cp {
    color: #f4bf75;
}
.highlight .nt {
    color: #f4bf75;
}
.highlight .o, .highlight .ow {
    color: #d0d0d0;
}
.highlight .p, .highlight .pi {
    color: #d0d0d0;
}
.highlight .gi {
    color: #90a959;
}
.highlight .gd {
    color: #ac4142;
}
.highlight .gh {
    color: #6a9fb5;
    font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
    color: #aa759f;
}
.highlight .kc {
    color: #d28445;
}
.highlight .kt {
    color: #d28445;
}
.highlight .kd {
    color: #d28445;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
    color: #90a959;
}
.highlight .sr {
    color: #75b5aa;
}
.highlight .si {
    color: #8f5536;
}
.highlight .se {
    color: #8f5536;
}
.highlight .nn {
    color: #f4bf75;
}
.highlight .nc {
    color: #f4bf75;
}
.highlight .no {
    color: #f4bf75;
}
.highlight .na {
    color: #6a9fb5;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
    color: #90a959;
}
.highlight .ss {
    color: #90a959;
}