[submodule "cmake/modules"]
    path = cmake/modules
    url = ../../BoostCMake/cmake_modules.git
[submodule "libs/codec"]
    path = libs/codec
    url = ../../NilFoundation/crypto3-codec.git
[submodule "libs/block"]
    path = libs/block
    url = ../../NilFoundation/crypto3-block.git
[submodule "libs/hash"]
    path = libs/hash
    url = ../../NilFoundation/crypto3-hash.git
[submodule "libs/vdf"]
    path = libs/vdf
    url = ../../NilFoundation/crypto3-vdf.git
[submodule "libs/kdf"]
    path = libs/kdf
    url = ../../NilFoundation/crypto3-kdf.git
[submodule "libs/mac"]
    path = libs/mac
    url = ../../NilFoundation/crypto3-mac.git
[submodule "libs/modes"]
    path = libs/modes
    url = ../../NilFoundation/crypto3-modes.git
[submodule "libs/stream"]
    path = libs/stream
    url = ../../NilFoundation/crypto3-stream.git
[submodule "libs/passhash"]
    path = libs/passhash
    url = ../../NilFoundation/crypto3-passhash.git
[submodule "libs/pbkdf"]
    path = libs/pbkdf
    url = ../../NilFoundation/crypto3-pbkdf.git
[submodule "libs/algebra"]
    path = libs/algebra
    url = ../../NilFoundation/crypto3-algebra.git
[submodule "libs/math"]
    path = libs/math
    url = ../../NilFoundation/crypto3-math.git
[submodule "libs/pkpad"]
    path = libs/pkpad
    url = ../../NilFoundation/crypto3-pkpad.git
[submodule "libs/pubkey"]
    path = libs/pubkey
    url = ../../NilFoundation/crypto3-pubkey.git
[submodule "libs/pkmodes"]
    path = libs/pkmodes
    url = ../../NilFoundation/crypto3-pkmodes.git
[submodule "libs/zk"]
    path = libs/zk
    url = ../../NilFoundation/crypto3-zk.git
[submodule "libs/random"]
    path = libs/random
    url = ../../NilFoundation/crypto3-random.git
[submodule "libs/multiprecision"]
    path = libs/multiprecision
    url = ../../NilFoundation/crypto3-multiprecision.git
[submodule "libs/blueprint"]
    path = libs/blueprint
    url = ../../NilFoundation/crypto3-blueprint.git
[submodule "libs/marshalling/core"]
    path = libs/marshalling/core
    url = ../../NilFoundation/marshalling.git
[submodule "libs/marshalling/multiprecision"]
    path = libs/marshalling/multiprecision
    url = ../../NilFoundation/crypto3-multiprecision-marshalling.git
[submodule "libs/marshalling/algebra"]
    path = libs/marshalling/algebra
    url = ../../NilFoundation/crypto3-algebra-marshalling.git
[submodule "libs/marshalling/zk"]
    path = libs/marshalling/zk
    url = ../../NilFoundation/crypto3-zk-marshalling.git
[submodule "libs/containers"]
    path = libs/containers
    url = ../../nilfoundation/crypto3-containers.git
